.a1{
	border: 2px solid black;
	width: 200px;
	height: 200px;
	float: left ;
	padding: 10px;
	margin: 3px;
}

.p1{
	color: #ffaa56;
}
.p2{
	color: red;
	font-weight: bold;
}
.p1:hover{
	color: black;
}
.p2:hover{
	color: black;
}
.a1:hover{
	border: 2px solid #ffaa56;
}