div{
	width: 500px;
	height: 500px;
	background: red;
	margin: 10px;
	padding: 10px;
	padding-left: 10px;
	border: 3px solid yellow;
}
p:before{
content: "Hello ";
color: red;
}
p:after{
	content: "!";
	color: orange;
}